body {

    margin: 0%;
}


nav{
    align-items: center;
    background-color: #e98251;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
}
 
nav a{
    color:  #17386d;
    font-size: 22pt;
    font-family:'VT323', monospace;
    text-decoration: none;
    
}
header{

    background-image: url("imagens/kages_orig.jpg");
    background-size: cover;
    height: 400px;
    
}

