body {

    margin: 0%;
}


nav{
    align-items: center;
    background-color: #e98251;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
}
 
nav a{
    color:  #17386d;
    font-size: 22pt;
    font-family:'VT323', monospace;
    text-decoration: none;
    
}
header{

    background-image: url("imagens/kages_orig.jpg");
    background-size: cover;
    height: 400px;
    
}

section{ background-color: #b0946b;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;

}

div{
    text-align: center;
    width: 40%;
}
h2{
    font-family:'VT323', monospace;
    font-size: 30pt;
}
div ul{
    list-style-type: none;
    list-style-image: url("imagens/ninja.png");
}

ul li:nth-child(even){
    color: white;
}

/*p, h2{
    color: lawngreen;
}
*/
